name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter SDK manually
        run: |
          sudo git clone https://github.com/flutter/flutter.git -b stable /opt/flutter
          echo "/opt/flutter/bin" >> $GITHUB_PATH
          flutter --version

      - name: Upgrade Flutter
        run: flutter upgrade

      - name: Check Flutter & Dart version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          echo "Building release APK..."
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
